// Here you can add other styles

.map-map {
    display: absolute;
    width: 900px;
    height: 900px;
    background-color: black;
}

.dropdowns-bar {
    text-align: center;
    background-color: black;
}